<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments-web :: web_head}"></head>
<body class="changeHeader">
<div id="wrap">
    <header th:replace="~{fragments/fragments-web :: web_header}"></header>
    <div class="member-wrapper">
        <div class="background"></div>
        <div class="member-content">
            <div class="login clearfix">
                <h4 class="text-center title">Quên mật khẩu</h4>
                <div th:if="${error != null}">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <b>[[${error}]]</b>
                    </div>
                </div>
                <div class="alert alert-success" th:if="${message != null}">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <b>[[${message}]]</b>
                </div>
                <div class="col-md-12 col-xs-12">
                    <form th:action="@{/quen-mat-khau}" method="post" id="formReset" novalidate
                          class="has-validation-callback">
                        <div class="form-content">
                            <h5 class="msg">Quý khách vui lòng nhập địa chỉ email đã dùng để đăng ký tài khoản</h5>
                            <div class="form-group label-top">
                                <input class="label-top" type="email" name="email" id="email" required="required"
                                       data-validation="required email">
                                <label for="email">Địa chỉ email</label>
                            </div>
                        </div>
                        <div class="form-footer">
                            <div class="row gap-10">
                                <div class="col-xs-6 col-sm-6 mbot-10">
                                    <button type="submit" class="btn btn-primary btn-block submit" id="button_reset">Gửi
                                    </button>
                                </div>
                                <div class="col-xs-6 col-sm-6 mbot-10">
                                    <a type="button" class="btn btn-danger btn-block"
                                       th:href="@{/trang-chu}" data-dismiss="modal">Hủy
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        document.getElementById('button_reset').onclick = ev => {
                            ev.preventDefault();
                            var i = document.getElementsByClassName("help-block error");
                            if (i.length === 0)
                                document.getElementById('formReset').submit();
                        }
                        $.validate({
                            modules: 'html5',
                            errorMessageClass: 'error',
                            lang: 'vi'
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/fragments-web :: web_footer}"></footer>
</div>
<script th:replace="~{fragments/fragments-web :: web_script}"></script>
</body>
</html>