<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments-web :: web_head}"></head>
<body class="changeHeader">
<div id="wrap">
    <header th:replace="~{fragments/fragments-web :: web_header}"></header>
    <div class="member-wrapper">
        <div class="background"></div>
        <div class="member-content">
            <div class="login clearfix">
                <h4 class="text-center title">Đặt lại mật khẩu</h4>
                <div class="col-md-12 col-xs-12">
                    <form th:action="@{/reset-password}" method="post" id="formUpdate" novalidate
                          class="has-validation-callback">
                        <div class="form-content">
                            <input type="hidden" name="token" th:value="${token}">
                            <div class="form-group label-top">
                                <input class="label-top" type="password" name="password" id="password"
                                       required="required" autofocus
                                       data-validation="required" onkeyup="checkNull();" oninput="check();">
                                <label for="password">Mật khẩu mới</label>
                            </div>
                            <div class="form-group label-top">
                                <input class="label-top" type="password" id="confirm_password" required="required"
                                       data-validation="required" name="confirm_password" onkeyup="checkNull();"
                                       oninput="check();">
                                <label for="confirm_password">Nhập lại mật khẩu</label>
                                <span class="help-block error" id="message"></span>
                            </div>
                        </div>
                        <div class="form-footer">
                            <div class="row gap-10">
                                <div class="col-xs-6 col-sm-6 mbot-10">
                                    <button type="submit" id="button_reset" class="btn btn-primary btn-block submit"
                                            disabled>Gửi
                                    </button>
                                </div>
                                <div class="col-xs-6 col-sm-6 mbot-10">
                                    <a type="submit" class="btn btn-danger btn-block" id="button_update"
                                       th:href="@{/trang-chu}" data-dismiss="modal">Hủy
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        document.getElementById('button_reset').onclick = ev => {
                            ev.preventDefault();
                            var i = document.getElementsByClassName("help-block error");
                            if (i.length === 0)
                                document.getElementById('formUpdate').submit();
                        }
                        $.validate({
                            modules: 'html5',
                            errorMessageClass: 'error',
                            lang: 'vi'
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/fragments-web :: web_footer}"></footer>
</div>
<script th:replace="~{fragments/fragments-web :: web_script}"></script>
<script>
    var check = function () {
        if (document.getElementById('password').value != "" && document.getElementById('confirm_password').value != "") {
            if (document.getElementById('password').value != document.getElementById('confirm_password').value) {
                document.getElementById('message').innerHTML = "Mật khẩu không khớp";
            } else
                document.getElementById('message').innerHTML = "";
        } else {
            document.getElementById('message').innerHTML = "";
        }
    }
    var checkNull = function () {
        if (document.getElementById('password').value == "" || document.getElementById('confirm_password').value == "" || (document.getElementById('password').value != document.getElementById('confirm_password').value)) {
            document.getElementById("button_reset").disabled = true;
        } else {
            document.getElementById("button_reset").disabled = false;
        }
    }
</script>
</body>
</html>