<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments-admin :: admin_head}"></head>
<body class="no-skin">
<div th:replace="~{fragments/fragments-admin :: admin_header}"></div>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <div th:replace="~{fragments/fragments-admin :: admin_menu}"></div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/admin}">Trang chủ</a>
                    </li>

                    <li>
                        <a th:href="@{/admin/post/list}">Bài viết</a>
                    </li>
                    <li th:if="${postModel.id}" class="active">Cập nhật thông tin</li>
                    <li th:unless="${postModel.id}" class="active">Thêm mới</li>
                </ul>
            </div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div th:if="${message}" th:class="|alert ${message.get('alert')}|">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>
                            <h4 class="text-center" th:text="${message.get('msg')}"></h4>
                        </div>
                        <form th:action="@{/admin/post/edit}" class="form-horizontal" th:method="post" role="form"
                              id="formSubmit"
                              th:object="${postModel}" enctype="multipart/form-data">
                            <input type="hidden" th:if="*{id}" th:field="*{id}">
                            <input type="hidden" th:value="*{thumbnailUrl}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Thể loại (*) </label>
                                <div class="col-sm-7" th:if="${allCategories}">

                                    <input th:if="*{getCategoryResponseModel}" name="category"
                                           th:data-id="${postModel.getCategoryResponseModel.id}"
                                           class="magicsearch form-control col-xs-12 col-sm-5" id="category"
                                           autocomplete="off">
                                    <input th:unless="*{getCategoryResponseModel}" name="category"
                                           class="magicsearch form-control col-xs-12 col-sm-5" id="category"
                                           autocomplete="off">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Tên bài viết (*) </label>
                                <div class="col-sm-7">
                                    <input type="text" th:field="*{title}" class="form-control col-xs-12 col-sm-5"
                                           required="required"/>
                                </div>
                            </div>
                            <div class="form-group" th:if="${postModel.thumbnailUrl}">
                                <label class="col-sm-3 control-label no-padding-right"> Ảnh đại diện </label>
                                <div class="col-sm-7">
                                    <img th:onError="|this.onerror=null;this.src='@{/admin/assets/images/placeholder/no-img.png}';|"
                                         style="max-width: 50%" th:src="${postModel.thumbnailUrl}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Link ảnh </label>
                                <div class="col-sm-7">
                                    <input type="file" accept="image/*" th:field="*{file}"
                                           class="form-control col-xs-12 col-sm-5"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> Mô tả ngắn </label>
                                <div class="col-sm-7">
                                    <textarea th:field="*{shortDescription}" class="form-control col-xs-12 col-sm-5">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> Nội dung </label>
                                <div class="col-sm-10">
                                    <textarea th:field="*{content}" class="form-control col-xs-12 col-sm-5">
                                    </textarea>
                                </div>
                            </div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-5 col-md-7">
                                    <th:block th:if="${postModel.id}">
                                        <button class="btn btn-sm btn-success" type="submit" id="btn-update">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            Cập nhật thông tin
                                        </button>
                                        <button class="btn btn-sm btn-danger" type="button" id="btn-cancel"
                                                onclick="warningBeforeCancel()">
                                            <i class="ace-icon fa fa-times red2 bigger-110"></i>
                                            Hủy
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${postModel.id}">
                                        <button class="btn btn-sm btn-success" type="submit" id="btn-add">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            Thêm
                                        </button>
                                        <button class="btn btn-sm" type="button" id="btn-go-back"
                                                onclick="warningBeforeCancel()">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            Trở về
                                        </button>
                                    </th:block>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="~{fragments/fragments-admin :: admin_footer}"></div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<th:block th:replace="~{fragments/fragments-admin :: admin_script}"></th:block>
<th:block th:if="${allCategories}"></th:block>
<script th:inline="javascript">
    // CKEDITOR.addCss('figure[class*=easyimage-gradient]::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }' +
    //     'figure[class*=easyimage-gradient] figcaption { position: relative; z-index: 2; }' +
    //     '.easyimage-gradient-1::before { background-image: linear-gradient( 135deg, rgba( 115, 110, 254, 0 ) 0%, rgba( 66, 174, 234, .72 ) 100% ); }' +
    //     '.easyimage-gradient-2::before { background-image: linear-gradient( 135deg, rgba( 115, 110, 254, 0 ) 0%, rgba( 228, 66, 234, .72 ) 100% ); }');

    CKEDITOR.replace('content', {
        extraPlugins: 'easyimage',
        removePlugins: 'image',
        removeDialogTabs: 'link:advanced',
        // toolbar: [{
        //     name: 'document',
        //     items: ['Undo', 'Redo']
        // },
        //     {
        //         name: 'styles',
        //         items: ['Format']
        //     },
        //     {
        //         name: 'basicstyles',
        //         items: ['Bold', 'Italic', 'Strike', '-', 'RemoveFormat']
        //     },
        //     {
        //         name: 'paragraph',
        //         items: ['NumberedList', 'BulletedList']
        //     },
        //     {
        //         name: 'links',
        //         items: ['Link', 'Unlink']
        //     },
        //     {
        //         name: 'insert',
        //         items: ['EasyImageUpload']
        //     }
        // ],
        height: 630,
        cloudServices_uploadUrl: 'https://33333.cke-cs.com/easyimage/upload/',
        // Note: this is a token endpoint to be used for CKEditor 4 samples only. Images uploaded using this token may be deleted automatically at any moment.
        // To create your own token URL please visit https://ckeditor.com/ckeditor-cloud-services/.
        cloudServices_tokenUrl: 'https://33333.cke-cs.com/token/dev/ijrDsqFix838Gh3wGO3F77FSW94BwcLXprJ4APSp3XQ26xsUHTi0jcb1hoBt',
        easyimage_styles: {
            // gradient1: {
            //     group: 'easyimage-gradients',
            //     attributes: {
            //         'class': 'easyimage-gradient-1'
            //     },
            //     label: 'Blue Gradient',
            //     icon: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/gradient1.png',
            //     iconHiDpi: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/hidpi/gradient1.png'
            // },
            // gradient2: {
            //     group: 'easyimage-gradients',
            //     attributes: {
            //         'class': 'easyimage-gradient-2'
            //     },
            //     label: 'Pink Gradient',
            //     icon: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/gradient2.png',
            //     iconHiDpi: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/hidpi/gradient2.png'
            // },
            noGradient: {
                group: 'easyimage-gradients',
                attributes: {
                    'class': 'easyimage-no-gradient'
                },
                label: 'No Gradient',
                icon: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/nogradient.png',
                iconHiDpi: 'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/easyimage/icons/hidpi/nogradient.png'
            }
        },
        easyimage_toolbar: [
            'EasyImageFull',
            'EasyImageSide',
            // 'EasyImageGradient1',
            // 'EasyImageGradient2',
            'EasyImageNoGradient',
            'EasyImageAlt'
        ]
    });
    /*<![CDATA[*/

    $(function () {
        var dataSource = JSON.parse([[${allCategories.toString()}]]);

        $('#category').magicsearch({
            dataSource: dataSource,
            fields: ['name'],
            id: 'id',
            format: '%name%',
            multiple: false,
            focusShow: true,
            hidden: true,
            multiField: 'name',
            noResult: 'Không tìm thấy kết quả',
            dropdownBtn: true,
            multiStyle: {
                space: 5,
                width: 200
            }
        });
    });


    function warningBeforeCancel() {
        swal({
            title: "Xác nhận",
            text: "Bạn có chắc muốn hủy bỏ thao tác này không?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-success",
            cancelButtonClass: "btn-danger",
            confirmButtonText: "Xác nhận",
            cancelButtonText: "Hủy",
        }).then((isConfirm) => {
            if (isConfirm.dismiss) {
            } else {
                window.location.href = /*[[@{/admin/post/list}]]*/'';
            }
        })
    }

    /*]]>*/

    function change() {
        var typ = document.getElementById("file").value;
        var res = typ.endsWith(".jpg") || typ.endsWith(".png") || typ.endsWith(".gif") || typ.endsWith(".jpeg");


        if (!res) {
            alert("Vui lòng chọn file ảnh");
            document.getElementById("file").value = "";
        }
    }

</script>
</body>
</html>