<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragments-admin :: admin_head}"></head>
<body class="no-skin">
<div th:replace="~{fragments/fragments-admin :: admin_header}"></div>
<div class="main-container">
    <div th:replace="~{fragments/fragments-admin :: admin_menu}"></div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li><i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/admin}">Trang chủ</a></li>
                    <li class="active">Vùng</li>
                </ul>
                <!-- /.breadcrumb -->
            </div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div th:if="${message}" th:class="|alert ${message.get('alert')}|">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>
                            <h4 class="text-center" th:text="${message.get('msg')}"></h4>
                        </div>
                        <div class="widget-box table-detail">
                        </div>
                        <div class="dataTables_wrapper form-inline no-footer">
                            <div class="row">
                                <form th:action="@{/admin/region/list}" id="search-form" method="get">
                                    <div class="col-xs-10">
                                        <div class="dataTables_length">
                                            <label>Tìm kiếm</label>
                                            <input name="keyword" type="search" id="search-box"
                                                   class=" col-xs-12 input-sm"
                                                   placeholder="Từ khoá"
                                                   aria-controls="dynamic-table"/>
                                        </div>
                                    </div>
                                    <input type="hidden" th:value="${regionModel.page}" id="page" name="page">
                                    <input type="hidden" th:value="${regionModel.limit}" id="limit" name="limit">
                                    <div class="col-xs-1">
                                        <label></label>
                                        <select name="sort" class="col-lg-12 input-sm" id="sort">
                                            <option value="id">--Xếp theo--</option>
                                            <option value="name" th:selected="${regionModel.sortBy == 'name'}">
                                                Tên
                                            </option>
                                            <option value="modifiedDate"
                                                    th:selected="${regionModel.sortBy == 'modifiedDate'}">Vừa chỉnh sửa
                                            </option>
                                        </select>
                                        <select name="desc" class="col-lg-12 input-sm" id="desc">
                                            <option value="0">Tăng dần</option>
                                            <option value="1" th:selected="${regionModel.isDesc}">Giảm dần</option>
                                        </select>
                                    </div>
                                </form>
                                <div class="col-xs-1">
                                    <div class="dataTables_filter">
                                        <div class="table-btn-controls">
                                            <div class="pull-right tableTools-container">
                                                <div class="dt-buttons btn-overlap btn-group">
                                                    <a flag="info"
                                                       class="dt-button-info buttons-colvis btn btn-white btn-primary btn-bold"
                                                       data-toggle="tooltip" title="Thêm mới"
                                                       th:href="@{/admin/region/add}">
                                                <span>
                                                    <i class="fa fa-plus-circle bigger-110 purple"></i>
                                                </span>
                                                    </a>
                                                    <a class="dt-button-info buttons-colvis btn btn-white btn-primary btn-bold"
                                                       data-toggle="tooltip" title="Export to Excel"
                                                       th:href="@{/admin/region/export}">
                                                <span>
                                                    <i class="fa fa-database orange"></i>
                                                </span>
                                                    </a>
                                                    <button id="btnDelete" type="button"
                                                            onclick="warningBeforeDelete()"
                                                            class="dt-button-info buttons btn btn-white btn-primary btn-bold"
                                                            data-toggle="tooltip"
                                                            title="Xóa" href="#" disabled>
                                                    <span>
                                                        <i class="fa fa-trash-o bigger-110 pink"></i>
                                                    </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover dataTable no-footer">
                                            <thead>
                                            <tr>
                                                <th><input type="checkbox" id="checkAll"></th>
                                                <th class="sorting_">Tên</th>
                                                <th class="sorting_">Code</th>
                                                <th>Thao tác</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <form th:action="@{/admin/region/delete}" id="delete-form"
                                                  th:object="${regionModel}" method="post">
                                                <tr th:each="region : *{results}">
                                                    <td><input type="checkbox" th:id="|check_box_${region.id}|"
                                                               name="ids"
                                                               th:value="${region.id}"/>
                                                    <td th:text="${region.name}"></td>
                                                    <td th:text="${region.code}"></td>
                                                    <td>
                                                        <a class="btn btn-sm btn-primary btn-edit" title="Cập nhật"
                                                           th:href="@{|/admin/region/edit?id=${region.id}|}">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </form>
                                            </tbody>
                                        </table>
                                    </div>
                                    <select id="limit-select">
                                        <option value="5" th:selected="${regionModel.limit == 5}">5 row</option>
                                        <option value="10" th:selected="${regionModel.limit == 10}">10 row</option>
                                        <option value="20" th:selected="${regionModel.limit == 20}">20 row</option>
                                        <option value="50" th:selected="${regionModel.limit == 50}">50 row</option>
                                        <option value="100" th:selected="${regionModel.limit == 100}">100 row</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <ul class="pagination" id="pagination"></ul>
        </div>
    </div>
</div>


<div th:replace="~{fragments/fragments-admin :: admin_footer}"></div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
<th:block th:replace="~{fragments/fragments-admin :: admin_script}"></th:block>
<script th:inline="javascript">
    /*<![CDATA[*/

    var currentPage = [[${regionModel.page}]]
    var limit = [[${regionModel.limit}]]
    var totalPage = [[${regionModel.totalPages}]]
    $(function () {
        window.pagObj = $('#pagination').twbsPagination({
            totalPages: totalPage,
            visiblePages: 5,
            startPage: currentPage,
            onPageClick: function (event, page) {
                if (currentPage != page) {
                    $('#limit').val(limit);
                    $('#page').val(page);
                    $('#search-form').submit();
                }
            }
        })
    });
    ///////////////////////////
    $("#search-box").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
            $("#search-form").submit();
        }
    });

    $('#limit-select').on('change', function () {
        var limitSelected = $('#limit-select option:selected').val();
        $('#page').val(1);
        $('#limit').val(limitSelected);
        $("#search-form").submit();
    });

    $('#sort').on('change', function () {
        $('#page').val(1);
        $("#search-form").submit();
    });

    $('#desc').on('change', function () {
        $('#page').val(1);
        $("#search-form").submit();
    });
    ////////////////////////////////////////////////////////////////

    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });

    var checkboxes = $("input[type='checkbox']"),
        submitButt = $("button[type='button']");

    checkboxes.click(function () {
        submitButt.attr("disabled", !checkboxes.is(":checked"));
    });

    function warningBeforeDelete() {
        swal({
            title: "Xác nhận xóa",
            text: "Bạn có chắc chắn muốn xóa hay không",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-success",
            cancelButtonClass: "btn-danger",
            confirmButtonText: "Xác nhận",
            cancelButtonText: "Hủy",
        }).then(function (isConfirm) {
            if (isConfirm.dismiss) {
            } else $('#deleteForm').submit();
        });
    }

    /*]]>*/
</script>
</body>
</html>